root = true

# Every file
[**]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[**.md]
indent_style = space
indent_size = 2

# YAML files
[{**.yaml,**.yml}]
indent_style = space
indent_size = 2

# HCL / Terraform files
[**.tf]
indent_style = space
indent_size = 2