# Terragrunt Config
export TERRAGRUNT_PARALLELISM='4'
export TERRAGRUNT_SOURCE_UPDATE='true'

# Azure CLI Config
export ARM_DISABLE_TERRAFORM_PARTNER_ID='true'
export ARM_USE_MSI=true
# export ARM_MSI_ENDPOINT=$MSI_ENDPOINT # only necessary when the msi endpoint is different than the well-known one

# SPN SOPS/Keyvault Helper
use_sops() {
    local path=${1:-$PWD/secrets.enc.yaml}
    eval "$(sops -d --extract '["SPN_TERRAGRUNT"]' --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}
use sops
